/*//////////////////gerl///////////////////////////////*/


html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: calc(12px + 0.390625vw);
    
}
a{
    text-decoration: none;
    color: white;

}
/*////////////////////////header//////////////////////////////////////*/

header{
    background-color: #3B8686;
    padding: 20px 10vw ;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul{
    display: flex;
    
}
header nav ul li{
    padding: 0 2vw;
}
header nav ul li a.atual{
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5px 20px;
    border-radius: 20px;
    
}
/*////////////////////////main//////////////////////////////////////*/


section.banner{
    padding: 25vw 10vw 5vw 10vw;
    background: linear-gradient(rgba(121, 189, 154, 0.2),rgba(121, 189, 154, 0.2)), url(../images/back-banner.png) no-repeat center center;
    background-size: cover;/*////ou 100% auto//////////////////////////////////*/
    
}
section.banner h2{
    font-size: 3rem;
    background-color: rgba(255, 255, 255, 0.2);
    width: 35%;
    padding: 1vw ;


}
section ul{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 7vw;
    
    
}
section.servico ul li a{
    background-color: #3B8686;
    padding: 10px;

    
    
}
section ul li{
    width: 20%;
    padding: 0 3.5vw;
}
section span{
    font-size: 3.5rem;
    color: #3B8686;

}
section h2{
    font-size: 1.4rem;
    padding: 15px 0;
}
section.servico p{
    
    padding: 1.5vw 0 3vw 0;
    color: #747474
}
section.banner1{
    padding: 2vw 0;
    margin-top: 10vw;
    background: linear-gradient(#79bd9a3b,rgba(121, 189, 154, 0.2)), url(../images/back-numeros.png) no-repeat center center;
    background-size: cover;
    
}
section.banner1 span{
    color: white;
}
section.banner1 p{
    color: white;
    font-size: 1.5rem;
    padding: 10px 0;


}
section.banner1 ul li p.grande{
    font-size: 2rem;
    font-weight: bold;
}
section.possibilidades{
    display: flex;
    
    
    padding: 10vw;
}
section.possibilidades p a{
    background-color: #0B486B;
    padding: 10px 25px;
    margin-right: 2vw;
    
    
}

section.possibilidades h2{
    font-size: 2.5vw;
    padding-bottom: 3vw;
    color: #0B486B;
}
#not{
    padding: 1vw 0;
    width: 60%;
    padding-bottom: 5vw;

}
section.possibilidades img{
    width: 40vw;
}
footer{
    background-color: #3B8686;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding: 2vw;
}
footer div.so span{
    font-size: 2vw;
    padding: 0 10px;
    padding-bottom: 20px;
}
footer div{
    color: white;
}
footer div.espaco{
    
    text-align: right;
    
}
footer p{
    padding: 10px;
}